[2015-09-11 04:30] SaintPeter opened #2 "Request: Animated Fire Logo"
I was going to do some videos and I was thinking that having a 2d animated version of the FCC campfire icon would be awesome. I'm thinking a 2-3 seconds of looping "flames" of the fire.  It could be used as part of a title card for FCC related videos.

This image:
<img src="https://raw.githubusercontent.com/FreeCodeCamp/FCCAssets/master/Logos%20and%20Covers/fcc-app-icon.png" width="200px" height="

[2015-09-11 04:35] Rybar commented on #2
That sounds like a fun project, I've done a bit of motion graphics work,
I'll see what I can do.

On Thursday, September 10, 2015, Rex Schrader <notifications@github.com>
wrote:

[2015-09-11 04:38] SaintPeter commented on #2
Just thinking some more about it, I could see it going two ways:
1) Looping animated flickering fire, as describe above.  Maybe "rotoscoped" from real flames.
2) A single pass animation that maybe started with a "real" fire and then flickered into the logo.  Something long the lines of a movie studio title card.

Either way would be pretty cool.  Just something to give a little motion/action to th

[2015-09-25 00:54] iheartkode commented on #2
That would be pretty neat, @Rybar  let me know what you come up with.

[2015-10-31 16:55] Rajkumarkhanaagaya opened #5 "Dell ==#### 1 844 247 1987###== Dell Printer tech support phone number, Dell printer Technical support phone number"
Dell ==#### 1 844 247 1987###==  Dell Printer tech support phone number,  Dell printer Technical support phone number
 Dell =====@1 844 247 1987@====  Dell Printer tech support phone number,  Dell printer Technical support phone number
 Dell =====@1 844 247 1987@====  Dell Printer tech support phone number,  Dell printer Technical support phone number
 Dell =====@1 844 247 1987@====  Dell Printer

[2015-10-31 22:05] vfssfjdvjfvb opened #15 "HP Printer support 18442471987 phone number-- technical support phone number-- customer service phone umber"
HP PRINTER  support phone number
HP PRINTER  support number
HP PRINTER  customer care phone number
HP PRINTER  customer care number
HP PRINTER  tech support phone number
HP PRINTER  tech support number
HP PRINTER  technical support phone number
HP PRINTER  technical support number
HP PRINTER  password recovery phone number
HP PRINTER  password recovery number
HP PRINTER  password reset phone numbe

[2015-11-09 14:10] thomasmaria opened #17 "(())1 800 439 2949(())=canon Printer Customer Care Number##(())1 800 439 2949canon=canon Printer Customer Care Phone Number"
(())1 800 439 2949(())=canon Printer Customer Care Number##(())1 800 439 2949canon=canon Printer Customer Care Phone Number

[2015-11-09 14:12] thomasmaria opened #18 "Brother printer 1 800 439 2949 tech support phone number, Brother printer USA technical support phone number?"
Brother printer 1 800 439 2949 tech support phone number, Brother printer USA technical support phone number?

[2015-11-09 14:15] thomasmaria opened #19 "Hp printer 1 800 439 2949 technical support phone number, Hp printer USA technical support phone number?"
Hp printer 1 800 439 2949 technical support phone number, Hp printer USA technical support phone number?

[2015-11-09 14:17] thomasmaria opened #20 "Epson printer 1 800 439 2949 technical support phone number, Epson printer USA technical support phone number?"
Epson printer 1 800 439 2949 technical support phone number, Epson printer USA technical support phone number?

[2015-11-09 14:18] thomasmaria opened #21 "Kodak printer 1 800 439 2949 technical support phone number, Kodak printer USA technical support phone number?"
Kodak printer 1 800 439 2949 technical support phone number, Kodak printer USA technical support phone number?

[2015-11-09 14:21] thomasmaria opened #22 "Dell printer 1 800 439 2949 technical support phone number, Dell printer USA technical support phone number?"
Dell printer 1 800 439 2949 technical support phone number, Dell printer USA technical support phone number?

[2015-11-09 14:22] thomasmaria opened #23 "Lexmark printer 1 800 439 2949 technical support phone number, Lexmark printer USA technical support phone number?"
Lexmark printer 1 800 439 2949 technical support phone number, Lexmark printer USA technical support phone number?

[2015-11-09 14:24] thomasmaria opened #24 "Lexmark printer @ 1 800 439 2949 @ technical support phone number, Lexmark printer USA technical support phone number?"
Lexmark printer @ 1 800 439 2949 @ technical support phone number, Lexmark printer USA technical support phone number?

[2015-11-09 14:25] maclan011 opened #25 "gmail 1 844 202 5571 technical support phone number, gmail USA technical support phone number?"
gmail 1 844 202 5571 technical support phone number, gmail USA technical support phone number?

[2015-11-09 14:26] thomasmaria opened #26 "Dell printer @ 1 800 439 2949 @ technical support phone number, Dell printer USA technical support phone number?"
Dell printer @ 1 800 439 2949 @ technical support phone number, Dell printer USA technical support phone number?

[2015-11-09 14:28] thomasmaria opened #27 "Kodak printer @ 1 800 439 2949 @ technical support phone number, Kodak printer USA technical support phone number?"
Kodak printer @ 1 800 439 2949 @ technical support phone number, Kodak printer USA technical support phone number?

[2015-11-09 14:29] MaligningpocRichard opened #29 "Brother printer 1 855 662 4436 technical support phone number, Brother printer USA technical support phone number?"
Brother printer 1 855 662 4436 technical support phone number, Brother printer USA technical support phone number?

[2015-11-09 14:30] thomasmaria opened #30 "Epson printer @ 1 800 439 2949 @ technical support phone number, Epson printer USA support phone number?"
Epson printer @ 1 800 439 2949 @ technical support phone number, Epson printer USA support phone number?

[2015-11-09 14:31] thomasmaria opened #31 "Canon printer @ 1 800 439 2949 @ technical support phone number, Canon printer USA technical support phone number?"
Canon printer @ 1 800 439 2949 @ technical support phone number, Canon printer USA technical support phone number?

[2015-11-09 14:32] MaligningpocRichard opened #32 "Brother printer ****1 855 662 4436**** tech support number, Brother printer USA technical support phone number?"
Brother printer ****1 855 662 4436**** tech support number, Brother printer USA technical support phone number?

[2015-11-09 14:33] thomasmaria opened #33 "Brother printer @ 1 800 439 2949 @ technical support phone number, Brother printer USA technical support phone number?"
Brother printer @ 1 800 439 2949 @ technical support phone number, Brother printer USA technical support phone number?

[2015-11-09 14:34] MaligningpocRichard opened #34 "Epson printer ****1 855 662 4436**** tech support number, Epson printer USA technical support phone number?"
Epson printer ****1 855 662 4436**** tech support number, Epson printer USA technical support phone number?

[2015-11-09 14:35] thomasmaria opened #35 "HP printer @ 1 800 439 2949 @ technical support phone number, HP printer USA technical support phone number?"
HP printer @ 1 800 439 2949 @ technical support phone number, HP printer USA technical support phone number?

[2015-11-09 14:38] thomasmaria opened #36 "Google Chrome @ 1 800 235 3083 @ technical support phone number, Google Chrome support phone number?"
Google Chrome @ 1 800 235 3083 @ technical support phone number, Google Chrome support phone number?

[2015-11-09 14:40] thomasmaria opened #37 "Google Chrome 1 800 235 3083 technical support phone number, Google Chrome support phone number?"
Google Chrome 1 800 235 3083  technical support phone number, Google Chrome support phone number?

[2015-11-09 14:44] thomasmaria opened #38 "Internet Explore 1 800 235 3083 technical support phone number, Internet Explore support phone number?"
Internet Explore 1 800 235 3083  technical support phone number, Internet Explore support phone number?

[2015-11-09 14:48] thomasmaria opened #39 "Internet Explore @ 1 800 235 3083 @ technical support phone number, Internet Explore support phone number?"
Internet Explore @ 1 800 235 3083  @ technical support phone number, Internet Explore support phone number?

[2015-11-09 14:51] thomasmaria opened #41 "Avast Antivirus @ 1 877 698 2249 @ technical support phone number, Avast Antivirus support phone number?"
Avast Antivirus @ 1 877 698 2249  @ technical support phone number, Avast Antivirus support phone number?

[2015-11-09 14:59] thomasmaria opened #42 "Avg Antivirus @ 1 877 698 2249 @ technical support phone number, AVG Antivirus support phone number?"
Avg Antivirus @ 1 877 698 2249  @ technical support phone number, AVG Antivirus support phone number?

[2015-11-09 15:01] thomasmaria opened #43 "Norton Antivirus @ 1 877 698 2249 @ technical support phone number, Norton Antivirus support phone number?"
Norton Antivirus @ 1 877 698 2249  @ technical support phone number, Norton Antivirus support phone number?

[2015-11-09 15:03] thomasmaria opened #44 "mcafee Antivirus @ 1 877 698 2249 @ technical support phone number, mcafee Antivirus support phone number?"
mcafee Antivirus @ 1 877 698 2249  @ technical support phone number, mcafee Antivirus support phone number?

[2015-11-09 15:08] thomasmaria opened #45 "Bitedefender Antivirus @ 1 877 698 2249 @ technical support phone number, Bitedefender Antivirus support phone number?"
Bitedefender Antivirus @ 1 877 698 2249  @ technical support phone number, Bitedefender  Antivirus support phone number?

[2015-11-09 15:10] thomasmaria opened #46 "Comodo Antivirus @ 1 877 698 2249 @ technical support phone number, Comodo Antivirus support phone number?"
Comodo Antivirus @ 1 877 698 2249  @ technical support phone number, Comodo Antivirus support phone number?

[2015-11-09 15:11] thomasmaria opened #47 "Bullguard Antivirus @ 1 877 698 2249 @ technical support phone number, Bullguard Antivirus support phone number?"
Bullguard Antivirus @ 1 877 698 2249  @ technical support phone number, Bullguard Antivirus support phone number?

[2015-11-09 15:12] thomasmaria opened #48 "Zone Alarm Antivirus @ 1 877 698 2249 @ technical support phone number, Zone Alarm Antivirus support phone number?"
Zone Alarm Antivirus @ 1 877 698 2249  @ technical support phone number, Zone Alarm Antivirus support phone number?

[2015-11-09 15:14] thomasmaria opened #49 "Trademicro Antivirus @ 1 877 698 2249 @ technical support phone number, Trademicro Antivirus support phone number?"
Trademicro Antivirus @ 1 877 698 2249  @ technical support phone number, Trademicro Antivirus support phone number?

[2015-11-09 15:16] thomasmaria opened #50 "Webroot Antivirus @ 1 877 698 2249 @ technical support phone number, Webroot Antivirus support phone number?"
Webroot Antivirus @ 1 877 698 2249  @ technical support phone number,
Webroot Antivirus support phone number?

[2015-11-09 15:17] thomasmaria opened #51 "Vipre Antivirus @ 1 877 698 2249 @ Vipre technical support phone number, Webroot Antivirus support phone number?"
Vipre Antivirus @ 1 877 698 2249  @ Vipre technical support phone number,
Webroot Antivirus support phone number?

[2015-11-09 15:19] lionhder opened #52 "Google chrome @ 1 844 461 2828 @ technical support phone number, Google chrome support phone number?"
Google chrome @ 1 844 461 2828 @ technical support phone number, Google chrome support phone number?

[2015-11-09 15:21] thomasmaria opened #53 "*** 1.800.439.2949 ***Kodak Brother Printer Technical Support Phone Number, Kodak Printer Support Phone Number"
*** 1.800.439.2949 ***Kodak Brother Printer Technical Support Phone Number, Kodak Printer  Support Phone Number

[2015-11-09 15:21] lionhder opened #54 "Google chrome @ 1 844 461 2828 @ customer support phone number, Google chrome customer service phone number?"
Google chrome @ 1 844 461 2828 @ customer support phone number, Google chrome customer service phone number?

[2015-11-09 15:22] lionhder opened #55 "Internet explorer @ 1 844 461 2828 @ customer support phone number, Internet explorer customer service phone number?"
Internet explorer @ 1 844 461 2828 @ customer support phone number, Internet explorer customer service phone number?

[2015-11-09 15:24] thomasmaria opened #57 "*** 1.800.439.2949 ***Canon Brother Printer Technical Support Phone Number, Canon Printer Support Phone Number"
*** 1.800.439.2949 ***Canon Brother Printer Technical Support Phone Number, Canon Printer  Support Phone Number

[2015-11-09 15:35] sdthfdy opened #59 "=HELP//+("(800) 728 7356"))//++" Intuit QuickBooks TECHNICAL SUpport phone number###QuickBooks Pro Help DEsk support number##""QuickBooks customer support phone number"
=HELP//+("(800) 728 7356"))//++" Intuit QuickBooks TECHNICAL SUpport phone number# QuickBooks Pro Help DEsk support number##""QuickBooks  customer support phone number

[2015-11-09 15:37] bdfeh opened #60 "*** 1.844.461.2828 ***internet explorer Technical Support Phone Number, internet explorer Support Phone Number"
*** 1.844.461.2828 ***internet explorer Technical Support Phone Number, internet explorer Support Phone Number

[2015-11-09 15:38] sdthfdy opened #61 "Intuit Quickbooks((1:800:728:7356)) Technical support phone number,Intuit Quickbooks customer support phone number"
Intuit Quickbooks((1:800:728:7356)) Technical support phone number,Intuit Quickbooks customer support phone number

[2015-11-09 15:39] bdfeh opened #62 "Internet explorer @ 1 844 461 2828 @ technical support phone number, Internet explorer support phone number?"
Internet explorer @ 1 844 461 2828 @ technical support phone number, Internet explorer support phone number?

[2015-11-09 15:41] sdkfjoiw opened #65 "Lexmark printer # 1855=709=2847 # technical support phone number, Lexmark printer USA technical support phone number?"
Lexmark printer # 1855=709=2847 # technical support phone number, Lexmark printer USA technical support phone number?

[2015-11-09 15:43] sdkfjoiw opened #66 "Epson printer @ 1855=709=2847 @ technical support phone number, Epson printer Customer support phone number USA?"
Epson printer @ 1855=709=2847 @ technical support phone number, Epson printer Customer support phone number USA?

[2015-11-09 15:44] sdthfdy opened #67 "C@ll 1-800-728-7356 Intuit Quickbooks technical support phone number, Intuit Quickbooks tech support phone number"
C@ll 1-800-728-7356 Intuit Quickbooks technical support phone number, Intuit Quickbooks tech support phone number

[2015-11-09 15:50] thomasmaria opened #75 "Google Chrome @ 1 800 235 3083 @ technical support phone number, Google Chrome support phone number?"
Google Chrome @ 1 800 235 3083  @ technical support phone number, Google Chrome support phone number?

[2015-11-09 15:52] thomasmaria opened #77 "Google Chrome 1 800 235 3083 technical support phone number, Google Chrome support phone number?"
Google Chrome  1 800 235 3083  technical support phone number, Google Chrome support phone number?

[2015-11-09 15:53] thomasmaria opened #79 "Internet Explore @ 1 800 235 3083 @ technical support phone number, Internet Explore support phone number?"
Internet Explore @ 1 800 235 3083  @ technical support phone number, Internet Explore support phone number?

[2015-11-09 15:55] thomasmaria opened #80 "*** 1.800.439.2949 ***Brother Printer Technical Support Phone Number, Brother Printer Support Phone Number"
*** 1.800.439.2949 ***Brother Printer Technical Support Phone Number, Brother Printer  Support Phone Number

[2015-11-09 15:58] thomasmaria opened #84 "*** 1.800.439.2949 ***Hp Printer Technical Support Phone Number, Hp Printer Support Phone Number"
*** 1.800.439.2949 ***Hp Printer Technical Support Phone Number, Hp Printer  Support Phone Number

[2015-11-09 16:06] thomasmaria opened #87 "*** 1.800.439.2949 ***Hp Printer Technical Support Phone Number, Hp Printer Support Phone Number"
*** 1.800.439.2949 ***Hp Printer Technical Support Phone Number, Hp Printer  Support Phone Number

[2015-11-09 16:08] thomasmaria opened #88 "*** 1.800.439.2949 ***EPson Printer Technical Support Phone Number, Epson Printer Support Phone Number"
*** 1.800.439.2949 ***EPson Printer Technical Support Phone Number, Epson Printer  Support Phone Number

[2015-11-09 16:10] thomasmaria opened #89 "*** 1.800.439.2949 ***Kodak Printer Technical Support Phone Number, Kodak Printer Support Phone Number"
*** 1.800.439.2949 ***Kodak Printer Technical Support Phone Number, Kodak Printer  Support Phone Number

[2015-11-09 16:11] thomasmaria opened #90 "*** 1.800.439.2949 ***Dell Printer Technical Support Phone Number, Dell Printer Support Phone Number"
*** 1.800.439.2949 ***Dell Printer Technical Support Phone Number, Dell Printer  Support Phone Number

[2015-11-09 16:11] thomasmaria opened #91 "*** 1.800.439.2949 ***Lexmark Printer Technical Support Phone Number, Lexamark Printer Support Phone Number"
*** 1.800.439.2949 ***Lexmark Printer Technical Support Phone Number, Lexamark Printer  Support Phone Number

[2015-11-09 16:13] thomasmaria opened #92 "## 1.800.439.2949 ##Lexmark Printer Technical Support Phone Number, Lexamark Printer Support Phone Number"
## 1.800.439.2949 ##Lexmark Printer Technical Support Phone Number, Lexamark Printer  Support Phone Number

[2015-11-09 16:14] thomasmaria opened #93 "## 1.800.439.2949 ## Dell Printer Technical Support Phone Number, Dell Printer Support Phone Number"
## 1.800.439.2949 ## Dell Printer Technical Support Phone Number, Dell Printer  Support Phone Number

[2015-11-09 16:15] thomasmaria opened #94 "## 1.800.439.2949 ## Kodak Printer Technical Support Phone Number, Kodak Printer Support Phone Number"
## 1.800.439.2949 ## Kodak Printer Technical Support Phone Number, Kodak Printer  Support Phone Number

[2015-11-09 16:16] thomasmaria opened #95 "## 1.800.439.2949 ## Epson Printer Technical Support Phone Number, Epson Printer Support Phone Number"
## 1.800.439.2949 ## Epson Printer Technical Support Phone Number, Epson Printer  Support Phone Number

[2015-11-09 16:17] thomasmaria opened #96 "## 1.800.439.2949 ## Hp Printer Technical Support Phone Number, Hp Printer Support Phone Number"
## 1.800.439.2949 ## Hp Printer Technical Support Phone Number, Hp Printer  Support Phone Number

[2015-11-09 16:18] thomasmaria opened #97 "## 1.800.439.2949 ## Brother Printer Technical Support Phone Number, Brother Printer Support Phone Number"
## 1.800.439.2949 ## Brother Printer Technical Support Phone Number, Brother Printer  Support Phone Number

[2015-11-09 16:19] thomasmaria opened #98 "## 1.800.439.2949 ## Canon Printer Technical Support Phone Number, Canon Printer Support Phone Number"
## 1.800.439.2949 ## Canon Printer Technical Support Phone Number, Canon Printer  Support Phone Number

[2015-11-19 18:01] iheartkode commented on #2
I'm going to attempt this

[2015-11-19 18:08] iheartkode commented on #2
I can't make the animation and rybar seems busy, maybe ask someone in fcc chat? Closing this.

[2015-11-19 18:08] #2 closed

[2016-04-26 23:53] atjonathan opened #103 "Add Fonts and Hex Codes used to the README"
I will get round to this ASAP...

For color reference:

- Brown: `#492c14` http://www.color-hex.com/color/492c14
- Green: `#006400` http://www.color-hex.com/color/006400

Fonts:

- Logo: `SaxMono` http://www.dafont.com/saxmono.font
- Other: `Monaco`

[2016-04-27 00:21] erictleung commented on #103
For color reference:

- Brown: `#492c14` http://www.color-hex.com/color/492c14
- Green: `#006400` http://www.color-hex.com/color/006400

[2016-06-30 09:16] #103 closed

[2016-07-16 21:16] QuincyLarson opened #107 "Badge: Bear Attack Survivor"
To earn: Attempt to solve a challenge more than 30 times.
Class: bronze

[2016-07-16 21:21] QuincyLarson opened #108 "Stylized Quote: "Talk is cheap. Show me the code""
Quote: "Talk is cheap. Show me the code"
Quotee: Linus Torvalds

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Ben-Fearnley-Yellowtrace-02.jpg)

[2016-07-16 21:25] QuincyLarson opened #109 "Stylized Quote: "In God we trust. All others bring data.""
Quote: "In God we trust. All others bring data."
Quotee: W. Edwards Demming

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Ben-Fearnley-Yellowtr

[2016-07-16 21:26] QuincyLarson opened #110 "Stylized Quote: "You can use an eraser on the drafting table or a sledgehammer on the construction site""
Quote: "You can use an eraser on the drafting table or a sledgehammer on the construction site"
Quotee: Frank Lloyd Wright

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-o

[2016-07-16 21:27] QuincyLarson opened #111 "Stylized Quote: "It's all talk until the code runs.""
Quote: "It's all talk until the code runs."
Quotee: Ward Cunningham

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Ben-Fearnley-Yellowtrace-02.j

[2016-07-16 21:28] QuincyLarson opened #112 "Stylized Quote: "Given enough eyeballs, all bugs are shallow.""
Quote: "Given enough eyeballs, all bugs are shallow."
Quotee: Linus Torvalds

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Ben-Fearnley-Yellowt

[2016-07-16 21:29] QuincyLarson opened #113 "Stylized Quote: "Any sufficiently advanced technology is indistinguishable from magic.""
Quote: "Any sufficiently advanced technology is indistinguishable from magic."
Quotee: Arthur C. Clarke

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quo

[2016-07-16 21:29] QuincyLarson opened #114 "Stylized Quote: "A ship in port is safe, but that's not what ships are built for.""
Quote: "A ship in port is safe, but that's not what ships are built for."
Quotee: Grace Hopper

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Be

[2016-07-16 21:31] QuincyLarson opened #115 "Stylized Quote: "Never trust a computer you can’t throw out a window.""
Quote: "Never trust a computer you can’t throw out a window."
Quotee: Steve Wozniak

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Ben-Fearnley-

[2016-07-16 21:31] QuincyLarson opened #116 "Stylized Quote: "When in doubt, use brute force.""
Quote: "When in doubt, use brute force."
Quotee: Ken Thompson

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

Here are some examples of relatively conventional typographic quotes you would see on t-shirts:

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Ben-Fearnley-Yellowtrace-02.jpg)

!

[2016-07-16 21:34] QuincyLarson opened #117 "Badge: Velociraptor Attack Survivor"
To earn: Attempt to solve a challenge more than 60 times.
Class: silver

[2016-07-16 21:35] QuincyLarson opened #118 "Badge: Shark Attack Survivor"
To earn: Attempt to solve a challenge more than 100 times.
Class: gold

[2016-07-16 21:39] QuincyLarson opened #119 "Badge: Rabbit of Caerbannog attack Survivor"
To earn: Attempt to solve a challenge more than 200 times.
Class: platinum

[2016-07-16 21:42] QuincyLarson opened #120 "T-shirt design: Open data"
As advocates for open data, we would like to print a t-shirt that visualizes the concept of open data in a compelling way.

Requirements:
- vector graphic
- monochromatic
- iconography is OK
- dimensions should be 4:3

[2016-07-16 21:49] QuincyLarson opened #121 "Graphics for laptop sticker pack"
Free Code Camp plans to sell a pack of stickers in our shop. All of these assets will be creative commons like everything else, and anyone could print them. We would print them and sell them in packs of 4 different stickers for $10 with free shipping worldwide to help cover Free Code Camp's costs.

I did a Twitter poll a while back and most people wanted 2" (5cm) round stickers (https://twitter.co

[2016-07-18 20:35] haydmills commented on #118
![shark-badge](https://cloud.githubusercontent.com/assets/4451324/16929413/ae7fcf72-4d05-11e6-92bf-d23f7479700f.png)

Thoughts?

[2016-07-18 20:36] haydmills commented on #117
![velociraptor-badge](https://cloud.githubusercontent.com/assets/4451324/16929428/bd89cae0-4d05-11e6-8177-ea01c681f0a7.png)

Thoughts?

[2016-07-18 23:39] haydmills commented on #119
![rabbit-of-caerbannog](https://cloud.githubusercontent.com/assets/4451324/16933860/4cd90404-4d1f-11e6-9620-5e36c47f45dd.png)

Thoughts?

[2016-07-18 23:40] haydmills commented on #119
![rabbit-of-caerbannog](https://cloud.githubusercontent.com/assets/4451324/16933886/7837c6bc-4d1f-11e6-9847-fa6a59bbc690.png)

Thoughts?

[2016-07-18 23:42] haydmills commented on #119
![rabbit-of-caerbannog](https://cloud.githubusercontent.com/assets/4451324/16933905/bc36e69a-4d1f-11e6-8a95-c928d8686697.png)

Thoughts?

[2016-07-19 00:18] atjonathan commented on #117
I love this.

[2016-07-19 00:18] atjonathan commented on #119
I also love this :heart:

[2016-07-19 00:19] atjonathan commented on #118
Wow these are awesome :tada:

[2016-07-19 02:12] haydmills commented on #118
@atjonathan thank you!

[2016-07-19 06:25] QuincyLarson commented on #119
@haydmills wow - this looks great! You even got the text on there! Though it is a bit low contrast white on yellow. Would adding some sort of small border around it using one of the existing colors (such as the orange you used for the border) make it more legible? Did you use Lato? Should we use all upper case for these?

[2016-07-19 06:29] QuincyLarson commented on #118
@haydmills so you think we should mix shapes? This is certainly an option, though if we want to print physical copies of these as stickers or iron-on patches in the future, they would need to be dye-cut as opposed to round (which would increase cost).
I noticed with traditional boy scout badges, they are all round.
![](https://upload.wikimedia.org/wikipedia/en/a/a8/Merit_badge_sash.png)

This isn'

[2016-07-19 06:30] QuincyLarson commented on #117
This one looks great, too. Velociraptors had a slightly more pointed beak, which makes them look more sinister. Aside from the sharp teeth, this raptor looks almost friendly.

[2016-07-20 02:38] haydmills commented on #118
Yes good point. I was more designing for digital but I can make them all one consistent shape due to them living both in digital and print.

[2016-07-20 02:41] haydmills commented on #119
Thanks Quincy! Yeah I agree it needs tweaked some more. For all three badges I have used Lato for the font. Personally, I think uppercase works better for the badges but I can upload some different variations to get more feedback. I will also add some badge designs without text!

[2016-07-20 02:45] haydmills commented on #117
Great insights! Thanks for the feedback. I will make some changes to it and upload a few different designs later to get more feedback. Looking at it now I am also not a huge fan of the colors. I'm still struggling with color palettes and which ones to use for which designs. I'm trying to learn though and make changes based on new things I read about color theory :)

[2016-07-23 06:29] QuincyLarson commented on #117
@haydmills OK - keep tinkering. Thanks for keeping me posted on this. Let me know if there is anything I can do to keep you un-blocked :)

[2016-07-23 06:31] QuincyLarson commented on #119
@haydmills OK - sounds great. We are using SaxMono for Free Code Camp's logo - I wonder how a monospace font with all lowercase might look.

[2016-07-23 23:22] QuincyLarson opened #123 "Finalize Style Guide"
@haydmills could you add a checklist of tasks that remain before we ship the style guide?

Live styleguide: https://haydmills.github.io/

[2016-07-23 23:33] haydmills commented on #123
Checklist:
- [ ] Finalize color palette
- [ ] Add SVG logo downloads
- [ ] Add example section with use cases for logo and color palette (i.e FCC t-shirts, stickers, badges, website uses, etc)

[2016-07-24 02:28] haydmills commented on #119
![rabbitt-2](https://cloud.githubusercontent.com/assets/4451324/17081401/ba573d26-5124-11e6-91d9-82af14960c1a.png)

[2016-07-24 02:28] haydmills commented on #117
![velociraptor-2](https://cloud.githubusercontent.com/assets/4451324/17081402/d2e23292-5124-11e6-92cc-c06cd909e15d.png)

[2016-07-24 02:34] haydmills commented on #118
![shark-2](https://cloud.githubusercontent.com/assets/4451324/17081413/915b384a-5125-11e6-81d3-8ee14ae5d1c6.png)

[2016-07-24 02:36] haydmills commented on #123
![all-together](https://cloud.githubusercontent.com/assets/4451324/17081421/e1191e24-5125-11e6-895c-fa2e1ae7afb3.png)

[2016-07-26 04:19] QuincyLarson commented on #118
@haydmills I dig it! Much more in line with what I was thinking (not that my thinking is optimal) but it looks great to me!

[2016-07-26 04:20] QuincyLarson commented on #119
Oh man. That rabit looks even more menacing on a red background! Excellent work!

[2016-07-26 04:29] QuincyLarson opened #124 "Future Coder Onesie design for babies"
@haydmills

You may have seen the "future doctor" or "future lawyer" onesies for babies. We want to create "future coder" onesies for campers and their toddlers.

Here's what TeeSpring allows in terms of dimensions:

![](https://www.evernote.com/l/Ar_EfOxPgk9LGoF4f2bPSbkzj9V5BdK2xp0B/image.png)

I think we could use the FCC font, with the "bonfire function call" symbol. What do you think?

[2016-08-03 04:15] haydmills commented on #124
![fcc-baby-onesies](https://cloud.githubusercontent.com/assets/4451324/17353635/62cedfa8-590f-11e6-9ca3-fe12e3e43fdb.png)

Here are a few simple designs with variations of the FCC font style. Let me know your thoughts @QuincyLarson!

[2016-08-03 05:01] QuincyLarson commented on #124
@haydmills Awesome! I'm sharing with the core team and showing my wife.

[2016-08-03 05:30] QuincyLarson commented on #124
@haydmills all the feedback has been in favor of lowercase. I think we have a winner.

One person was curious what it would look like with the text a bit lower.

[2016-08-03 11:29] haydmills commented on #124
![future-coder-onesie](https://cloud.githubusercontent.com/assets/4451324/17364038/d46ace74-594b-11e6-828d-b80482bdec0e.png)

Here is the PNG file of the lowercase style that should be easy to drag and drop onto Teespring when you are actually creating the onesie.

[2016-08-08 09:41] QuincyLarson commented on #124
Thanks to @haydmills' efforts, this is now live and campers are getting these for their babies: https://teespring.com/future-coder-baby-onesies#pid=287&cid=6090&sid=front

[2016-08-08 09:41] #124 closed

[2016-08-08 09:51] QuincyLarson opened #126 "Stylized Quote: "Information wants to be free""
Quote: "Information wants to be free."
Quotee: Stewart Brand

Requirements:

vector graphic
monochromatic
iconography is OK
dimensions should be 4:3

[2016-08-08 16:28] kosta-xd commented on #121
![fcc-badge-mockup](https://cloud.githubusercontent.com/assets/16733970/17487565/b2effcda-5d95-11e6-944a-717de964df24.png)

Hi Quincy,

I could assume that arching the name isn't strictly by style guidelines but just a thought of creative application.

[2016-08-09 06:59] QuincyLarson commented on #121
Hi Kosta,

Excellent!  I can share this with our core team. Could you make a version that uses colors from the style guide as well? We don't want to break consistency unless we absolutely have to.

My other question - could you create a version that incorporates the bonfire function call logo instead of spelling out Free Code Camp? Possibly in the eye? I'm just curious what that would look like. Y

[2016-08-09 07:48] kosta-xd commented on #121
Yes, it's kinda difficult now to avoid Minions (or sometimes Monsters Inc!) comparisons when drawing one eye only.

The bonfire function might be quite small in that scenario (bare in mind the entire label is only 5cm across) but it's worth a try. Here's a modified draft for comparison.

![bot](https://cloud.githubusercontent.com/assets/16733970/17508688/7c64fa18-5e16-11e6-97f5-776b4e79fd2d.jpg)

[2016-08-09 07:52] QuincyLarson commented on #121
Wow! You work fast! I agree - this is way too small. I appreciate you
trying it. Perhaps if we made the bot a shade of gray or just white (the
entire image would be white on green) that might look better.

- Quincy Larson
teacher at FreeCodeCamp.com

Follow my writing about technology:
medium.com/@quincylarson
quora.com/profile/Quincy-Larson
<http://quora.com/profile/Quincy-Larson/answers?sort=vie

[2016-08-09 08:05] kosta-xd commented on #121
Let's try these two. The grey doesn't really work on this dark (primary) green as it makes the entire image somewhat dull. White is of course better but I am also showing you yellow as it has great contrast and differentiates the text from the image and overall makes for an attractive little image.

![fcc-badge-mockup01](https://cloud.githubusercontent.com/assets/16733970/17509154/cf6c5ff6-5e18-11

[2016-08-09 08:22] QuincyLarson commented on #121
@kosta-xd The core team has a positive reaction so far (it's 1 a.m. in California so not very many of them are around right now).

I personally like how the white on green version looks.

Could you try changing two things real quick:
- Could you change the text to CamperBotCares to see what that would look like (it's 14 characters instead of 12 - curious whether it will fit)
- Could you try making

[2016-08-09 08:30] kosta-xd commented on #121
![fcc-badge-mockup03](https://cloud.githubusercontent.com/assets/16733970/17509798/30cb4b4c-5e1c-11e6-93f1-b4041ebfc4b7.jpg)

It fits alright!

[2016-08-09 08:32] QuincyLarson commented on #121
You're quick! I meant "CamperBotCares"

[2016-08-09 08:37] kosta-xd commented on #121
Sorry, still in the process of waking up.

![fcc-badge-mockup04](https://cloud.githubusercontent.com/assets/16733970/17510011/33ae99b2-5e1d-11e6-9a31-50c255424d60.jpg)

[2016-08-09 08:41] QuincyLarson commented on #121
@kosta-xd awesome! This looks great imho. I'm going to get this in front of as many people as possible and get feedback.

[2016-08-09 08:56] QuincyLarson commented on #121
@kosta-xd I've added the additional concepts, if you want to take a crack at them.

Let's Pair - Something about two people coding together - maybe something like this with an FCC function call (it's a meme from the 1980s movie "Predator")?

![](http://cdn.thisiswhyimbroke.com/images/predator-son-of-a-bitch-patch-640x533.jpg)

[2016-08-09 08:59] QuincyLarson commented on #121
@kosta-xd For the Open Data sticker - databases are typically represented with cylinders like this:
![](https://www.evernote.com/l/Ar-J99KVwlpJkJ8NB0EX-VwY9C1IWYAk4QsB/image.png)

I was thinking that could be open somehow - maybe the top could be flipped open or something? Just an idea. Again, we don't have much space, and it needs to be unambiguous. See what you can come up with :)

[2016-08-09 09:05] kosta-xd commented on #121
@QuincyLarson I'll see what I can do; I am not much of a classic illustration guy, though, so not sure if I could pull off the top suggestion as good. But it might be worth a try.

Hope I'll have some time during weekends to go back to this. Will let you know as soon as I have something.

[2016-08-09 09:07] QuincyLarson commented on #121
@kosta-xd regarding CamperBot, several core team members were curious what it would look like if CamperBot's hands were actually dashes and brackets, like this:
-----{ CamperBotCares }-------

Could you see how this looks?

[2016-08-09 11:48] kosta-xd commented on #121
![fcc-badge-mockup05](https://cloud.githubusercontent.com/assets/16733970/17515274/adb3fe7c-5e37-11e6-8da8-49c33daf7a93.jpg)

Not so bad, I'd say. I've corrected the parentheses angles as well as few other minor details.

If I may ask for one thing only - maybe take some time to gather feedback and discuss best options to try out, to keep revisions focused. There's a lot more to be done while ther

[2016-08-09 21:08] QuincyLarson commented on #121
@kosta-xd the core team really likes your CamperBot design.

Here's @hallaathrad's open data sticker. Please take a look and see whether you can improve upon it:

![](https://www.evernote.com/l/Ar9dsbBG7_JIC49t160C5gVC_vCdhSZlwxAB/image.png)

[2016-08-10 16:41] kosta-xd commented on #121
@QuincyLarson I'll have a look at it next - would this theme be something we could reuse for the t-shirt, as well?

[2016-08-11 09:04] QuincyLarson commented on #121
@kosta-xd yes - absolutely. Basically, my plan is to create simple polls and say "would you buy this for $20" and if most people answer yes, we can print it as a shirt. We are concerned with making sure everything we make is high quality, of course, but we could have dozens of different shirts. The main constraint is designs :)

[2016-08-12 01:21] Wes26 commented on #121
Sorry for the late post here are some of the designs I came up with.
![fcc-01](https://cloud.githubusercontent.com/assets/15785762/17610163/de236ac8-6000-11e6-8b59-5cb764f8ce54.jpg)

[2016-08-12 01:28] Wes26 commented on #121
Designs are in!

![fcc-01](https://cloud.githubusercontent.com/assets/15785762/17610278/132d0c1e-6002-11e6-8aee-248001a25514.png)

[2016-08-12 03:33] QuincyLarson commented on #121
@Wes26 wow - these look amazing! I've shared them with the core team.

[2016-08-12 05:39] kosta-xd commented on #121
These are pretty sweet @Wes26 :)

[2016-08-12 06:32] SamAI-Software commented on #121
Vote 1

![image](https://cloud.githubusercontent.com/assets/16253583/17614514/3196f7de-6091-11e6-9acf-289d4fb9099f.png)

[2016-08-12 06:33] SamAI-Software commented on #121
Vote 2

![image](https://cloud.githubusercontent.com/assets/16253583/17614528/5281b8c6-6091-11e6-87f9-b91ecb1d4755.png)

[2016-08-12 06:33] SamAI-Software commented on #121
Vote 3

![image](https://cloud.githubusercontent.com/assets/16253583/17614537/60159958-6091-11e6-8464-ae4d637d7576.png)

[2016-08-12 06:34] SamAI-Software commented on #121
Vote 4

![image](https://cloud.githubusercontent.com/assets/16253583/17614542/6ae0e234-6091-11e6-97b3-c6e8c5bc5b1f.png)

[2016-08-12 06:34] SamAI-Software commented on #121
Vote 5

![image](https://cloud.githubusercontent.com/assets/16253583/17614549/76e86688-6091-11e6-95d9-f3b847c15dbb.png)

[2016-08-12 06:34] SamAI-Software commented on #121
Vote 6

![image](https://cloud.githubusercontent.com/assets/16253583/17614553/821c4a42-6091-11e6-8ea8-777cdfde3d0b.png)

[2016-08-12 06:35] SamAI-Software commented on #121
Vote 7

![image](https://cloud.githubusercontent.com/assets/16253583/17614566/8e17a940-6091-11e6-9909-d5d78d55b6a7.png)

[2016-08-12 17:10] CarlJKashnier commented on #121
The last ones were kind of small I was thinking a 3-4" Maybe Red on black. or Glossy Black on Matte black.

[2016-08-12 18:06] QuincyLarson commented on #121
@CarlJKashnier we did a poll on Twitter and 2" was by far the most popular size.

[2016-08-12 18:40] Wes26 commented on #121
@QuincyLarson Glad you like the the designs! They were really fun to create.

[2016-08-12 18:41] Wes26 commented on #121
@kosta-xd Thank you, I really like your designs as well. :)

[2016-08-12 18:47] Wes26 commented on #121
@QuincyLarson If would would like I could create something along the lines of the image below. I am out of OK for a few days so I will work on it when I get back to green country. 👍
![image](https://cloud.githubusercontent.com/assets/15785762/17633448/f903fd2a-6092-11e6-8c5e-92c2030f0369.png)

[2016-08-12 19:19] kosta-xd commented on #121
@Wes26 If you are able to take on that one, I'll stick with Open Data concept for the weekend ;)

Had a lot on my plate these days... along with lots of sticking points in JavaScript course on Codecademy :D

[2016-08-12 19:30] Wes26 commented on #121
@kosta-xd sounds great!. Also followed you on dribbble follow me as well. I really need to post more work on it.  :)

[2016-08-14 10:26] kosta-xd commented on #121
![fcc-badge-opendata](https://cloud.githubusercontent.com/assets/16733970/17648559/3d4acfe4-621a-11e6-8214-9177f8084dd0.jpg)

Again a minimal open data badge concept.

[2016-08-14 10:33] kosta-xd commented on #120
![fcc-shirt](https://cloud.githubusercontent.com/assets/16733970/17648582/3f340eaa-621b-11e6-98df-e1c0c9d81f2a.jpg)

Based on Open Data sticker.

[2016-08-14 11:23] QuincyLarson commented on #121
@kosta-xd this looks amazing! Excellent work. The o in open should be lowercase. I am sharing this with the core team.

[2016-08-14 11:24] atjonathan commented on #120
That looks awesome @kosta-xd :tada:

[2016-08-14 11:27] hallaathrad commented on #121
Such talent! I'm honestly jealous.
Great work, @kosta-xd

[2016-08-14 11:28] kosta-xd commented on #121
Thank you guys! Sorry about the 'o' thing, that will be easy to fix, though.

[2016-08-14 11:32] kosta-xd commented on #120
@atjonathan thank you!! As mentioned by @QuincyLarson for the sticker, I need to switch the capital O to a small one.

[2016-08-15 05:56] meetmangukiya commented on #116
[Stylised Quote: When in doubt, use brute force](https://github.com/meetmangukiya/assets/blob/dev/brute%20force%20attempt%201.svg)

[2016-08-15 06:28] QuincyLarson commented on #116
@meetmangukiya this isn't bad. I was thinking it could fill up more of the allocated space and be more dramatic like this

![](http://assets.yellowtrace.com.au/wp-content/uploads/2013/05/Typography-Posters-of-Inspirational-Quotes-by-Ben-Fearnley-Yellowtrace-02.jpg)

or this:

![](http://cdn.shopify.com/s/files/1/0166/0736/products/Screen_Shot_2014-04-06_at_5.57.13_PM_large.png?v=1435811856)

[2016-08-15 06:30] QuincyLarson commented on #120
@kosta-xd Also, could you remove the semicolon? Most languages have () but many of them (like Python and R - which are popular languages for data science) do not require terminating semicolons.

[2016-08-15 06:31] kosta-xd commented on #120
Sure thing @QuincyLarson Any other specific feedback from the team?

[2016-08-15 06:31] QuincyLarson commented on #120
@kosta-xd my other feedback would be to make the cylinder segments thicker, and the gaps between them thinner. If you look at most data drums, the gaps are quite small.

[2016-08-15 06:32] kosta-xd commented on #120
@QuincyLarson No probs, will do.

[2016-08-15 06:57] kosta-xd commented on #120
![fcc-shirt-opendata](https://cloud.githubusercontent.com/assets/16733970/17657753/2eafec2e-62c6-11e6-9893-5b1d6db8293e.png)

@QuincyLarson Done! ;) Will upload the update to sticker topic as well.

[2016-08-15 06:57] kosta-xd commented on #121
![fcc-badge-opendata](https://cloud.githubusercontent.com/assets/16733970/17657768/4b170424-62c6-11e6-95fc-2ae3806c7b72.jpg)

Update!

[2016-08-16 13:56] meetmangukiya commented on #116
@QuincyLarson Let's see if I can make something like the above one. It seems out of my league at the moment :sweat_smile: , but I'll definitely try. And I'd also like to suggest you to add the examples in other issues of Stylized Quote too :+1:

[2016-08-17 08:28] QuincyLarson commented on #116
@meetmangukiya good point. I will add these images to the other quote issues for reference.

Thanks for giving this your best effort! :) We have lots of other designers who are contributing whom you can reach out to for expert feedback, such as @kosta-xd.

[2016-08-17 19:28] kosta-xd commented on #116
@meetmangukiya has gotten some general advice from me in his Gitter inbox.

The second example provided by @QuincyLarson is quite a challenge even for a seasoned professional ;) But I get the point, of course, it's in adding rhythm and dynamic to a quote so it's not just a bunch of typed out words. It shouldn't rely on visuals either, other than a little support from decorative elements found in a

[2016-08-18 17:58] QuincyLarson commented on #116
@kosta-xd thank you for sharing your insights with @meetmangukiya :)

It's OK to use visuals, but I wouldn't go overboard with imagery. For example, this could show something like a fist, muscles, a battering ram, or something like that, but a majority of the image should be text.

[2016-08-19 18:44] CodeNonprofit opened #127 "Graphics: "Code Grant" social media icon, banner image"
Free Code Camp completes pro bono code for nonprofits by issuing Code Grants. We need graphical assets to support this program.

[2016-08-22 10:01] kosta-xd commented on #111
![fcc-quote itsalltalk](https://cloud.githubusercontent.com/assets/16733970/17850896/9e331f82-685f-11e6-9efb-93afd921cffe.jpg)

@QuincyLarson I found this one inspirational for a start ;)

[2016-08-22 11:14] kosta-xd commented on #111
And an alternate version with more varied font:

![fcc-quote itsalltalk 2](https://cloud.githubusercontent.com/assets/16733970/17852968/4b1adf96-686a-11e6-8890-635e76adba8c.jpg)

[2016-08-22 18:31] QuincyLarson commented on #111
@kosta-xd Awesome! I've shared these with the core team to get an opinion :)

[2016-08-30 04:40] QuincyLarson commented on #111
@kosta-xd The core team was definitely in favor of your first design. They were wondering what it would look like in Tron blue: ~[](https://i.ytimg.com/vi/o-SCNf7YwBA/maxresdefault.jpg)

[2016-08-30 04:47] QuincyLarson commented on #121
@kosta-xd @hallaathrad @Wes26 @haydmills
OK - quick update on our sticker pack.

My current thinking is that @kosta-xd's Open Data sticker (the one we're using for the shirt) is good to go.
![](https://www.evernote.com/l/Ar9Km8Lf6oRMxZcnRzIvJUM-MtJKPxzY-RIB/image.png). @kosta-xd could you put it into circular format?

As for CamperBot, me and the core team are leaning toward @Wes26's simple Camper

[2016-08-30 06:24] kosta-xd commented on #111
![fcc-quote itsalltalk](https://cloud.githubusercontent.com/assets/16733970/18078300/20aa5ecc-6e8b-11e6-82f8-41829e058f65.png)

@QuincyLarson looks cool, me thinks ;)

[2016-08-30 07:01] QuincyLarson commented on #111
@kosta-xd Awesome! Yes - agreed! This looks beautiful. I will print these. Could you upload a high res blue-on-transparent png?

[2016-08-30 07:06] kosta-xd commented on #111
@QuincyLarson Sure, but wouldn't it work better if I send you the SVG, my guess is the printer will appreciate it being a vector format rather than bitmap?

[2016-08-30 08:42] QuincyLarson commented on #111
@kosta-xd yes - that sounds good. SVG should work fine :)

[2016-08-31 06:55] kosta-xd commented on #127
Hi @CodeNonprofit could you please provide some more details on these? What's the required content, sizes, etc.

[2016-09-12 19:48] Wes26 commented on #121
Hey Quincy sorry for the late reply!!! Here is the updated version of camperBotCares()

<img width="532" alt="screen shot 2016-09-12 at 2 47 44 pm" src="https://cloud.githubusercontent.com/assets/15785762/18450263/e58eb12c-78f7-11e6-853a-e96a91ab17c6.png">

[2016-09-12 20:00] hallaathrad commented on #121
Random unimportant question: are we removing the `;` from the function calls now?

[2016-09-12 20:09] Wes26 commented on #121
Had a ype-o :{ and @hallaathrad I am not sure 💯

[2016-09-12 20:15] QuincyLarson commented on #121
@Wes26 awesome! This looks sharp.
@hallaathrad We've been removing the semicolon to make it look a little cleaner. What are your thoughts on this though?

@Wes26 could you add some little stars in the background like the ones on this:
![](https://camo.githubusercontent.com/80e92143bcd493adae313a426c05907383779f3a/68747470733a2f2f7777772e657665726e6f74652e636f6d2f6c2f4172394b6d384c66366f524d785a636

[2016-09-12 20:21] Wes26 commented on #121
@QuincyLarson I was actually about to add some lol.

[2016-09-12 20:40] QuincyLarson commented on #121
Looks awesome! Little nitpick: Could you make more of them x's - there's only one x and like 8 +'s

By the way, we plan to replace our existing CamperBot avatar with this on Gitter, GitHub and our forum :)

[2016-09-12 20:41] QuincyLarson commented on #121
@Wes26 Also, I was wondering whether you had any ideas for our "Information wants to be free" sticker / t-shirt asset.

[2016-09-12 20:55] Wes26 commented on #121
I do have some ideas....let me sketch some ideas and ill post some concepts shortly.
<img width="525" alt="screen shot 2016-09-12 at 3 50 23 pm" src="https://cloud.githubusercontent.com/assets/15785762/18452544/e4f965d2-7900-11e6-85cc-c9e40f8797aa.png">

[2016-09-13 15:35] hallaathrad commented on #121
@QuincyLarson Not sure how removing the `;` makes it cleaner, but it could just be me expecting it out of habit. And that is perhaps also the expectation for many other coders: In this instance, the semicolon of emphasises the fact that it's a function call.
It's much like `?` at the end of a question... you can do without it in the right contexts, but it's somewhat an expected element, and adds c

[2016-09-13 18:48] QuincyLarson commented on #121
@hallaathrad well, we didn't use a ; in Free Code Camp's logo :)

[2016-09-13 18:54] hallaathrad commented on #121
True. But one could argue the "fire" icon is not valid as a parameter...
also, in the logo, we see a nuance to hint at a function call; but it's not as obvious as `data.open();` which could well be actual code.

I love the  <img width="53" alt="screen shot 2016-09-13 at 14 53 14" src="https://cloud.githubusercontent.com/assets/2107110/18487077/d4d5ec36-79c1-11e6-92ec-c9fbf3dd5136.png">  by itself.

[2016-09-13 18:58] QuincyLarson commented on #121
@hallaathrad one reason we left the semicolon off of the data.open() was because that's also a Python command (by the way, Python doesn't use terminating semicolons - neither does Ruby).

So by leaving out the semicolon we actually make it look like syntactically correct Python and Ruby as well.

[2016-09-13 18:59] hallaathrad commented on #121
Fair enough, we're appealing for polyglot inclusiveness.
That's a different argument. I'm still biased towards JS haha

[2016-09-13 19:06] QuincyLarson commented on #121
@hallaathrad Yes - I suppose so. And there's another, more personal reason. I think semicolons look awkward and throw off the symmetry. That's just my armchair designer chiming in, though :)

[2016-09-13 19:07] hallaathrad commented on #121
Perfectly valid personal preference. Off with those `;`!!

[2016-09-13 19:17] Wes26 commented on #121
@QuincyLarson Regarding the size of the avatars do you have a personal preference? I think
100px X 100px is pretty standard and will work well across multiple applications.

[2016-09-13 20:56] QuincyLarson commented on #121
@Wes26 GitHub defaults to 400x400. I recommend going large, and we can scale down from there as necessary.

[2016-09-13 21:12] Wes26 commented on #121
OK great.. also do you want to keep the gray background or go transparent so it would just show the circle with no background color? -Thanks

[2016-09-14 02:32] QuincyLarson commented on #121
@Wes26 I'm not sure whether I understand you right. You mean like the white on gray images you used on https://github.com/FreeCodeCamp/assets/issues/121#issuecomment-239340308?

We're planning to use all white-on-green stickers for the sticker pack.

[2016-09-14 19:28] CodeNonprofit commented on #127
Thanks @kosta-xd - I'm looking for a basic design that includes the copy 'Code Grant' to be used for campaigns on social media and elsewhere. The standard icon size of 32x32 works for a square profile image. For banner, 300x250 or 728x90 would be perfect. It can be as simple as white text on a green background, but the point is to build a few assets to help us raise awareness of our program.

For

[2016-09-15 15:11] Wes26 commented on #121
this is with a transparent background. The only reason I put a gray background on the others was for the white strip around the green to be visible.

<img width="399" alt="screen shot 2016-09-15 at 10 08 42 am" src="https://cloud.githubusercontent.com/assets/15785762/18555169/7af3fa70-7b2c-11e6-94dc-6c4274971736.png">

[2016-09-15 17:28] QuincyLarson commented on #121
@Wes26 That thickness looks right. I'm not sure how much of a border @kosta-xd used but I think we should match that.

[2016-09-15 17:37] QuincyLarson commented on #121
@Wes26 @kosta-xd @haydmills @hallaathrad We are very close to being able to launch the new sticker pack.
- [ ] design the "information wants to be free" sticker
- [ ] create a nice image of all 4 stickers on a laptop like this one:
![](https://cloud.githubusercontent.com/assets/16733970/17657768/4b170424-62c6-11e6-95fc-2ae3806c7b72.jpg)
- [ ] create a pull request with high res .png files and .svg

[2016-09-15 18:05] Wes26 commented on #121
@QuincyLarson given the photo I match the width of @kosta-xd's white strip so it should be good to go.

@kosta-xd Would you mind doing the mock up like you did with the data.open. I figured it would be more consistent with the overall look. Do you have an email address I can email the file to you?

** Also would you like an .ai file or eps?

Thanks,

Wes

[2016-09-15 18:14] kosta-xd commented on #121
@Wes26 .ai would be great, thanks! ;)

Could you send the file(s) over to kosta@k-xd.com, please?

@QuincyLarson it would be great if you could also dig up a svg (or any other vector type) of the original sticker and send it over to me so I can apply it to a mockup ;)

I might make a new one as I am not sure about the image licencing on this one, better to go for a 'generic' non-branded laptop, to

[2016-09-15 18:27] Wes26 commented on #121
@kosta-xd Just sent you the file 👍

[2016-09-15 19:05] #127 closed

[2016-09-15 19:18] kosta-xd commented on #121
Got it, thanks!

One thing I think is important to note. Although I am well aware that it's counter-intuitive and against basic print requirements but I think it's better to handle the file in RGB.

Here's my reasoning...

Style guideline (https://haydmills.github.io/) does not define CMYK values for any of the colors, all we have is HEX. Which does not translate well all the time due to differenc

[2016-09-15 20:26] QuincyLarson commented on #121
@kosta-xd I agree - since many of these assets will be printed physically, we should have CMYK values if that is standard within the printing industry.

[2016-09-16 04:11] QuincyLarson commented on #121
@kosta-xd OK - I have requested that @haydmills transfer the style guide over to Free Code Camp's GitHub repository, at which point we will be able to add RGB and CMYK values as necessary. I don't think we need to wait for this, though, before continuing with the other steps.

[2016-09-16 04:12] QuincyLarson commented on #121
@Wes26 the .ai and eps files would be great to include in our repo, just in case. I recommend you create a pull request against this freecodecamp/assets repo. That way it will be clear from the log that you were the person who contributed these assets you've worked so hard on :)

[2016-09-16 05:42] kosta-xd commented on #121
@QuincyLarson got the invite, thank you! If you want, I can do the color mode conversion for the listed hues. After we have those nailed down, I'll resend the design for Open Data sticker in CMYK vector format and new, correct color values.

[2016-09-16 07:10] QuincyLarson commented on #121
@kosta-xd yes - that would be great. You should now have access to the repo (https://github.com/FreeCodeCamp/design-style-guide). Please let me know if I can do anything to help.

@hallaathrad do you have the original files for the Free Code Camp logo sticker you made like 6 months ago? If so, can you share them here so @kosta-xd can normalize them with the other stickers?

[2016-09-16 07:49] QuincyLarson commented on #121
@kosta-xd yes - that would be great! You should now have write access to the repo:

https://github.com/FreeCodeCamp/design-style-guide

[2016-09-16 08:01] kosta-xd commented on #121
@QuincyLarson I will definitely need some help as I am a complete GitHub noob :) I can make out the page content from the html code but can't figure out if I can preview the style guide page "normally" in browser. I'll try and figure out things along the way, I can read the hex codes from index.html and that's good enough for me to work on conversions.

[2016-09-17 06:46] QuincyLarson commented on #121
@kosta-xd no problem. Let me know if you need any help and want to pair. Our top priority is creating the "stickers on a laptop" asset, as I can put that up in the shop and we can start collecting orders while the stickers are printing. I talked with @Wes26 earlier and he had a pretty cool-looking asset that we can use as our 4th sticker.

[2016-09-17 06:55] kosta-xd commented on #121
@QuincyLarson Understood, that way my priorities are:

- [ ] Translate the fCC (primary) green into CMYK value that will work for all stickers (and everything else in the future, of course)
- [ ] Make sure everyone involved here gets the right information about the CMYK/printing specs so the files are consistent
- [ ] Make the "sticker on laptop mockup" for all four

I can do all of these this wee

[2016-09-17 14:56] kosta-xd commented on #121
I did the color conversions for primary palette. The original RGB/HEX hues are on the top and the optimized for CMYK are at the bottom - you'll notice a change in saturation, they generally feel slightly dull.

The biggest deal here is the main (dark) green. Automatic conversion from RGB creates a messy green tone that uses all four colors which in print looks even duller than it is supposed to. I

[2016-09-17 17:28] QuincyLarson commented on #121
@kosta-xd here are the files for the original sticker:
[FCCround.sketch.zip](https://github.com/FreeCodeCamp/assets/files/478285/FCCround.sketch.zip)

[2016-09-17 17:29] QuincyLarson commented on #121
@kosta-xd these look great! Since we are planning to sell all 4 as a pack, could we create an image with all 4 of them on the same laptop as well?

[2016-09-17 18:46] kosta-xd commented on #121
@QuincyLarson Unfortunately, that's a Sketch file, a Mac-only design software which I cannot use :) If there's anyone with Sketch, could you please open the file and save it as anything Adobe compatible, please? EPS, AI...

As for the mockup, that wouldn't really work with this particular image, the angle of laptop lid requires too much distortion of sticker image so it's difficult to read (as you

[2016-09-17 19:01] kosta-xd commented on #121
By the way, I am not as much in love with this particular image as much as the options out there are extremely limited as far as free stock goes, there are surely a bunch of laptops but very rarely showing from the back :)

[2016-09-17 20:23] hallaathrad commented on #121
Would this help?  @kosta-xd
[FCCround.pdf](https://github.com/FreeCodeCamp/assets/files/478358/FCCround.pdf)

[2016-09-18 06:04] kosta-xd commented on #121
Very much, @hallaathrad , thanks!

![fcc-laptop-sticker-mockup-logosticker](https://cloud.githubusercontent.com/assets/16733970/18613242/94f9433e-7d76-11e6-816d-9da803230de7.jpg)

[2016-09-18 07:13] QuincyLarson commented on #121
@kosta-xd excellent! I'm thrilled that you've been able to normalize these colors and get the old sticker design from @hallaathrad.

At this point, I am thinking we should actually offer the sticker pack completely separate from the old sticker. So @Wes26 is working on a final sticker design and once he has that ready, we can print it. I texted with him today and he said he is actively working on

[2016-09-19 15:57] Wes26 commented on #121
New and improved lets pair sticker. Information wants to be free is on its way!

<img width="527" alt="screen shot 2016-09-19 at 10 52 38 am" src="https://cloud.githubusercontent.com/assets/15785762/18638985/bf4de270-7e57-11e6-9a38-8506efa3b0ad.png">
<img width="523" alt="screen shot 2016-09-19 at 10 52 48 am" src="https://cloud.githubusercontent.com/assets/15785762/18638986/bf64fbae-7e57-11e6-8cf

[2016-09-19 15:58] kosta-xd commented on #121
Hahah, this is so awesome @Wes26 !

[2016-09-19 15:59] Wes26 commented on #121
Arms and hands are hard to do. I thought the robotic arm was a nice touch!

[2016-09-19 22:30] QuincyLarson commented on #121
@Wes26 OK - so I tweeted it out: https://twitter.com/ossia/status/777926815704715264

Based on the rather mild reaction, I think we should go with @Wes26's "Let's pair it up!" wording instead, except I think it should say "Let's pair on it!" (which is a much more common expression at least here in San Francisco.

Also, if possible, the arms should be slightly larger not more muscular - just scaled

[2016-09-20 01:29] Wes26 commented on #121
Updated.....

<img width="529" alt="screen shot 2016-09-19 at 8 28 29 pm" src="https://cloud.githubusercontent.com/assets/15785762/18654549/aa848056-7ea7-11e6-8455-8ba15af7750e.png">

[2016-09-20 03:52] QuincyLarson commented on #121
@Wes26 beautiful! I think we've got a winner!

[2016-09-20 03:54] QuincyLarson commented on #121
@kosta-xd is it possible to reposition the laptop or sticker? https://github.com/FreeCodeCamp/assets/issues/121#issuecomment-247827935

The reason I ask is when the laptop is open, the sticker would be upside down. Most people put stickers on their laptops in a way that they'll be right-side up when the laptop is open.

[2016-09-20 07:09] kosta-xd commented on #121
@QuincyLarson I did have that in mind, figured it's better to show the sticker facing the audience at the expense of realism. But sure, I can turn them upside down.

[2016-09-20 09:05] QuincyLarson commented on #121
@kosta-xd could you find an image of a laptop facing the other direction? That way we could have both realism and a good shot of the sticker :)

[2016-09-20 09:49] kosta-xd commented on #121
@QuincyLarson As said earlier, I couldn't find one with proper copyright clearance at least ;) I can use the earlier one if you're not afraid of Apple :D

[2016-09-20 18:53] Wes26 commented on #121
Good day everyone! So I have been working on the 'information wants to be free' design and I have almost completed a few different designs. I really wanted to nail this one, so I looked into some alternative ways information could in fact 'want to be free'. This is an idea that is really complex.....and what I found to be a good representation of this is a thing called "mesh networking". People ar

[2016-09-20 20:10] QuincyLarson commented on #121
@kosta-xd Here are a ton of creative commons licensed images of laptops: https://www.pexels.com/search/laptop/

Here's one that jumped out to me:

![](https://static.pexels.com/photos/26806/pexels-photo-large.jpg)

https://www.pexels.com/photo/cafe-coffee-macbook-apple-26806/

Here's another, simpler one:

![](https://static.pexels.com/photos/30210/pexels-photo-30210-large.jpg)

https://www.pexels

[2016-09-20 20:15] QuincyLarson commented on #121
@Wes26 that's a cool concept. It looks like you've been doing a lot of conceptual research. Mesh networks - very cool concept!

My suggestion would be to remove the 1984, remove the exclamation point, and to make the text so it can easily be read right-side up (still circling the sticker):
"Information" along the top
(image)
"wants to be free" along the bottom

Could you create a version that look

[2016-09-20 20:17] Wes26 commented on #121
@QuincyLarson Let me see what I can do and I'll post shortly.

[2016-09-20 20:19] kosta-xd commented on #121
@QuincyLarson this seems like a nifty site (stock aggregator?), thanks!

To make it easier and clear for all four stickers at once, would this one also work for you?
https://www.pexels.com/photo/apple-computer-desk-device-159886/

[2016-09-20 20:26] QuincyLarson commented on #121
@kosta-xd yes - that stock photo would work. And there's space along the bottom where you could feature each of the stickers.

[2016-09-20 20:52] Wes26 commented on #121
<img width="1139" alt="screen shot 2016-09-20 at 3 52 08 pm" src="https://cloud.githubusercontent.com/assets/15785762/18688484/381c270a-7f4a-11e6-8f2c-50a46ad3c61a.png">

[2016-09-20 21:13] atjonathan commented on #121
@QuincyLarson, @Wes26, `v1` for sure!

[2016-09-20 21:19] Wes26 commented on #121
@atjonathan Do you get the mesh networking from this illustration?

[2016-09-20 21:37] Wes26 commented on #121
Ok so after looking at all the sticker designs lined up on my end, I realised that camperbot was a tad bit thicker than the rest. I made him more consistent with the rest of the sticker designs by going slightly thinner on the line weight. In my op it looks better. What is everyone's take on this?

<img width="1154" alt="screen shot 2016-09-20 at 4 33 55 pm" src="https://cloud.githubusercontent.co

[2016-09-20 23:19] QuincyLarson commented on #121
@Wes26 Excellent. My only feedback on the information wants to be free sticker is to remove the est. 84 since it seems to overload an already complicated image.

Are all three of these using the same font weight and font size? Will this look sufficiently consistent with @kosta-xd's open data sticker?

I am writing a Medium article to announce the launch of this new sticker pack. I would like to in

[2016-09-21 07:06] kosta-xd commented on #121
@QuincyLarson I think the consistency will be somewhat harmed by my illustration which is different in style: made with fills, not outlines. I did a quick experiment to switch the existing one to outlines but it doesn't really work, looks confusing and way too busy.

@Wes26 Please send me over your vector files so I can test them all together on that laptop image ;) Then we'll be able to see how i

[2016-09-21 08:07] QuincyLarson commented on #121
@kosta-xd OK - just use your best judgement. However you think this works best. I would like to be able to promote the stickers on our shop with a single image where all 4 stickers are legible. It will take a couple weeks to get them printed and shipped, after which point I can get a good photograph of them on a laptop. Until then, we can use whatever you can design yourself.

Regarding the image,

[2016-09-21 16:12] Wes26 commented on #121
@QuincyLarson Should we upload our answers to your questions here?
@kosta-xd About to send you the email!

[2016-09-21 16:57] kosta-xd commented on #121
Individual stickers:

![fcc-laptop-sticker-pack-letspair](https://cloud.githubusercontent.com/assets/16733970/18720663/2ce34e8e-802d-11e6-9c57-3b52bf77e957.jpg)
![fcc-laptop-sticker-pack-camperbot](https://cloud.githubusercontent.com/assets/16733970/18720665/2ceb5e3a-802d-11e6-97e2-833dcb507600.jpg)
![fcc-laptop-sticker-pack-dataopen](https://cloud.githubusercontent.com/assets/16733970/18720664/2c

[2016-09-21 17:05] Wes26 commented on #121
@kosta-xd I like what you have, but is there a way to make it feel more natural like the laptop below? Maybe a different angle of shot with laptop... For example

![image](https://cloud.githubusercontent.com/assets/15785762/18720901/82145608-7ff3-11e6-9585-552a1b7ddbe9.png)

[2016-09-21 17:16] Wes26 commented on #121
Just an example
<img width="869" alt="screen shot 2016-09-21 at 12 16 02 pm" src="https://cloud.githubusercontent.com/assets/15785762/18721251/3dae3298-7ff5-11e6-9cef-c2e66761dc2e.png">

[2016-09-21 17:24] kosta-xd commented on #121
![fcc-laptop-sticker-pack-mockup2](https://cloud.githubusercontent.com/assets/16733970/18721447/dc0904aa-8030-11e6-815f-bf57cbb48713.jpg)

It might work with the photo you chose earlier, though the lighting is tricky but I tried to "fake" it a bit.

[2016-09-21 17:51] Wes26 commented on #121
@kosta-xd Ok so maybe I am getting ahead of myself but what If we tried something like this to showcase the new sticker pack. It's still "one" photo lol.

![image](https://cloud.githubusercontent.com/assets/15785762/18722312/0346617a-7ffa-11e6-993e-12884a1a0cb0.png)

[2016-09-21 18:04] QuincyLarson commented on #121
@kosta-xd @Wes26 Of the images you've created so far I think this is the cleanest and comes the closest to looking like the stickers are actually on the laptop:

![](https://cloud.githubusercontent.com/assets/16733970/18720685/4b5a95e8-802d-11e6-8dc4-bb2d5a263104.jpg)

I think this is good enough for now, and we can get a professional photo later.

[2016-09-21 18:05] QuincyLarson commented on #121
@Wes26 could you create a square asset of CamperBot that we can use for its icons on Gitter, GitHub and our forum, without the words?

[2016-09-21 18:06] Wes26 commented on #121
@QuincyLarson Yes I can!

[2016-09-21 18:07] QuincyLarson commented on #121
@Wes26 awesome. Thanks for the fast response :)

[2016-09-21 18:46] kosta-xd commented on #121
@QuincyLarson I thought neatly lined up stickers are a no-go :) In that case...

![fcc-laptop-sticker-pack-mockup jpg](https://cloud.githubusercontent.com/assets/16733970/18724294/3dee2622-803c-11e6-9600-25815a047d5b.png)

![fcc laptop sticker pack mockup3](https://cloud.githubusercontent.com/assets/16733970/18724314/50aed086-803c-11e6-98fc-f2f742fc87bd.png)

[2016-09-21 18:54] kosta-xd commented on #121
Hmmm, I messed up the order somehow, will fix it - just let me know which mockup works better, please!

[2016-09-21 22:39] QuincyLarson commented on #121
@kosta-xd I like the one with the purse because it allows the images to be bigger and doesn't have the huge Apple logo. The current sequence of stickers in it is fine.

[2016-09-22 06:12] kosta-xd commented on #121
@QuincyLarson I agree!

Now, where (and how :) do I upload the final AI/EPS sticker file for Open Data? :)

[2016-09-22 06:21] QuincyLarson commented on #121
@kosta-xd do you know how to make a pull request to this repository? I can walk you through it if you want to Skype or use Google Hangouts later. In the meantime, you can just share a high quality PNG that I can use for printing these stickers.

[2016-09-22 06:22] QuincyLarson commented on #121
@kosta-xd I am writing the article right now. Could you quickly send me an email with:
- a black and white photo of yourself
- Your full name
- Where you live
- your career goals for the next few years
- An interesting fact about you
- A link to your design portfolio

[2016-09-22 06:24] kosta-xd commented on #121
@QuincyLarson I'll figure it out today, no worries.

I have the answers but since I am not too keen on taking photos often, I don't have anything half-decent now, will take one today ;) The answers are:

- Kosta Cemerikic
- Belgrade, Serbia
- Perfecting my UI/UX skills
- I once hoped to have a career in sound design instead!
- k-xd.com

[2016-09-22 06:28] kosta-xd commented on #121
@QuincyLarson Is PNG everything that the printer accepts? Since PNG doesn't support CMYK, we're back to square one on colors (meaning - there was no need to go through the color optimization process). PDF, AI, EPS... those are proper pre-press files every printing service should primarily handle.

[2016-09-22 08:54] QuincyLarson commented on #121
@kosta-xd I believe both PNG and JPG are fine for Sticker Mule.

[2016-09-22 09:06] QuincyLarson commented on #121
@kosta-xd It looks like these stickers look a bit too small on our shop page:

![](https://www.evernote.com/l/Ar9XZ_otMhRKoJw_6P8JUAFAcxUNDUBcHVwB/image.png)

 Could you make an image where the stickers are large enough that there's detail, while still being on a laptop - maybe a closeup of a laptop? The image could be as small as 728x485 image (larger doesn't hurt)

Thanks for your help with this

[2016-09-22 09:16] kosta-xd commented on #121
![fcc-opendata-sticker](https://cloud.githubusercontent.com/assets/16733970/18742463/9e42a7a0-80b4-11e6-8318-802284d04ee8.png)

In that case here's the transparent PNG with original fCC dark green.

Just as a reminder @Wes26 please make sure to revert to original RGB value #006400 for these final PNG files.

As for the shop image - the one I originally posted was 1200x862px. And since the stickers

[2016-09-22 15:58] Wes26 commented on #121
pulled this off sticker mule for files they recommend

<img width="943" alt="screen shot 2016-09-22 at 10 57 46 am" src="https://cloud.githubusercontent.com/assets/15785762/18755910/71fb4f68-80b3-11e6-8086-8b5c1756d3d0.png">

[2016-09-22 16:02] kosta-xd commented on #121
Thanks for that one @Wes as said, it only makes sense to provide vectors (or possibly tiff) in CMYK...

[2016-09-22 16:09] Wes26 commented on #121
@kosta-xd Yes, I would only send sticker mule AI possibly a high-quality print pdf in CMYK.

[2016-09-22 16:12] Wes26 commented on #121
@kosta-xd who wants to set up print files for sticker mule so Quincy can send them off......I'm slightly lost with all the color conversion...however I did revert back to the RGB you stated earlier.

[2016-09-22 16:16] kosta-xd commented on #121
@Wes I did all the color conversion/optimizing for CMYK just so we don't have to bother with RGB anymore but @QuincyLarson is asking for PNG again so I am not sure :)

But maybe we can persuade him to go with AI ;) In that case I assume it would be best for you to set up your own, each in a separate file that can be then uploaded here to assets.

[2016-09-22 16:21] Wes26 commented on #121
@kosta-xd this might help as well...
<img width="757" alt="screen shot 2016-09-22 at 11 21 18 am" src="https://cloud.githubusercontent.com/assets/15785762/18756770/bfd67796-80b6-11e6-9523-6863f09b4ad0.png">

[2016-09-22 16:36] kosta-xd commented on #121
@Wes26 sure - we can effectively use our outside white circle as cut line: switch it to a magenta outline or smtg and put it on a layer above or below the main artwork.

[2016-09-22 16:37] Wes26 commented on #121
@kosta-xd My design friend that uses sticker mule suggested AI files be sent due to the fact you can request a change within 24 hours that they send the electronic proof.. I believe AI is the way to go.

[2016-09-22 17:17] Wes26 commented on #121
@kosta-xd Ok so this is what I am doing for the cut line its on a seperate layer labeled 'cut line'.
<img width="528" alt="screen shot 2016-09-22 at 12 16 44 pm" src="https://cloud.githubusercontent.com/assets/15785762/18758648/8304466a-80be-11e6-86d0-fce698012c8e.png">

[2016-09-22 17:23] kosta-xd commented on #121
@Wes26 Exactly, great! Will do it myself, too.

[2016-09-22 18:28] Wes26 commented on #121
@kosta-xd I was thinking of adding this to the folder labeled read me!
<img width="602" alt="screen shot 2016-09-22 at 1 27 51 pm" src="https://cloud.githubusercontent.com/assets/15785762/18760881/758c487a-80c8-11e6-948b-c5159ae6ff0b.png">

[2016-09-22 19:50] Wes26 commented on #121
@QuincyLarson Would you mind helping me as well with the pull request?

[2016-09-22 19:55] QuincyLarson commented on #121
@Wes26 yes - I'm available on Skype for the next hour or so.

[2016-09-23 07:55] kosta-xd commented on #121
@QuincyLarson I've just made a pull request with ai file for the Open Data sticker ;) Hope I did it the correct way (or close to it!) this time.

[2016-09-24 05:48] #120 closed

[2016-09-24 05:48] #111 closed

[2016-09-24 06:22] QuincyLarson commented on #121
@kosta-xd OK - great.

Quick update: @Wes26's sticker preview is live. I used @kosta-xd's laptop image earlier, and may use it in promoting these stickers on Facebook and Twitter.

We have actually had more than 15 orders already for these. So I guess we should hurry up and print them 😄

I plan to print 1,000 each of them and will send each of you a few sets if you email me your mailing addresses.

[2016-09-24 06:52] QuincyLarson opened #130 "Updated landing assets"
I love the icons @Rybar created nearly two years ago. They've been viewed millions of times. Since we redesigned FCC back in January, they seem a bit too ornate.

Also, we are considering simplifying our landing page and our message. Here's what it might look like:

![](https://www.evernote.com/l/Ar_LwOaXtkVArKFdQp2ODRNABnbw8QuMs0EB/image.png)

Those icons are placeholders. I was wondering whether

[2016-09-24 07:58] kosta-xd commented on #121
@QuincyLarson These privileges you gave me are dangerous, I accidentally clicked on Close issue instead of submitting the reply :) I also installed the Screen Hero although I can't promise Sunday afternoon/evening CA time as I am 8 hours ahead and rarely can afford to stay that late.

I'll send you an email with my snail mail address, thanks for the stickers offer! ;)

[2016-09-24 17:59] QuincyLarson opened #131 "City campsite assets"
Here's a list of campsites with more than 1,000 members:
- London
- Delhi
- Atlanta
- Chicago
- Seattle
- Bengaluru
- San Francisco
- New York City
- Toronto

My thinking is that we could create assets visually similar to our other stickers: white on green.

@Wes26 has already created one that in my (non-designer) opinion looks like a good start:

![](https://cloud.githubusercontent.com/assets/162

[2016-09-26 20:53] QuincyLarson opened #132 "2016 be like... "I'm hacking everyone""
My idea is to create an asset that plays off the popular meme: 2016 be like "I'm taking everyone"

![](http://i1.kym-cdn.com/photos/images/original/001/152/053/cf7.png)

Instead of the faces, we could include corporate logos, with the number of accounts breached below. We could leave Harambe in there as the 6th breach as a nod to the meme, or we could include the lesser known (outside of Russia) V

[2016-09-26 21:09] CodeNonprofit commented on #132
This is funny. But don't include Harambe. The memes aren't funny - and some are racist. RIP Harambe.

[2016-09-27 00:45] Khiarov commented on #132
I'm on it!
I'll send it over on twitter.

[2016-09-27 17:14] QuincyLarson commented on #132
@Khiarov thank you so much! I've published this on both Twitter and Facebook and may even include it on our Pinterest account if I can remember the password :)

[2016-09-27 17:14] #132 closed

[2016-09-27 17:15] QuincyLarson commented on #121
@kosta-xd @Wes26 we ordered the stickers this morning! I will send you both some stickers as soon as they come in. Thank you again for all your hard work on this project!

[2016-09-27 17:15] #121 closed

[2016-09-29 21:51] QuincyLarson opened #133 "Map / Reduce Magnets"
Imagine being able to move magnets around to build an algorithm. I think we can make this happen! We can create a set of magnets that covers some common JavaScript keywords, and allows for people to use arrays and objects, functions and loops.
- [ ] Decide which items to make magnets for
- [ ] Design the magnets
- [ ] Determine cost viability (ideally, I'd like to be able to sell the set for $20 o

[2016-10-08 12:09] amitbhandari commented on #108
![code](https://cloud.githubusercontent.com/assets/14908745/19213007/d577fe84-8d7d-11e6-88a3-546627066d39.jpg)

watch this

[2016-10-08 12:16] atjonathan commented on #108
@amitbhandari, is it possible to make the word, `is`, slightly more legible? Other than that, I like this design! I'm not sure about the hyphen before `Linus Torvalds` but i'll leave that up to @QuincyLarson 😄

cc @QuincyLarson

[2016-10-08 23:43] QuincyLarson commented on #108
@amitbhandari This is a good start. Do you have any type faces that better communicate cheapness? Also, the typeface you use for "the code" doesn't evoke code for me.

Finally, keep in mind that this will be on a t-shirt so the fonts should be thicker (so they'll stand up to repeat washings better). Also, I don't think we need the attribution in the design itself.

Here's an example of one of thes

[2016-10-08 23:46] QuincyLarson commented on #133
We could actually layer the magnets on top of one another so we could have:

So one magnet could be:
Map([               ],         )

And then you could put icons inside the bracket, along with something like a fire for the function.

This way, with only 20 or 30 magnets, we could have a ton of possible combiations. This would also avoid having awkward parenthesis magnets and such.

[2016-10-09 07:27] amitbhandari commented on #108
![code-2](https://cloud.githubusercontent.com/assets/14908745/19218729/1b33b9a8-8e1f-11e6-86d0-72dc5473cadd.jpg)

[2016-10-10 00:12] QuincyLarson commented on #108
@amitbhandari Hm... this is looking very similar to the "it's all talk until the code runs" design. Would you be interested in tackling one of the other typographic quotes, first?

[2016-10-10 21:09] Wes26 commented on #133
I have no idea what the user rights are for emoji considering they are licensed under apple lol. Here are some creative common emoji's that we could possibly use for this asset. http://emojione.com/licensing/
http://emojione.com/

Wes

[2016-10-11 07:33] QuincyLarson commented on #133
@Wes26 wow - these are amazing. As long as we credit the creator, we can use these in commercial projects. I recommend we design the typographic elements using a similar color pallet and curate a set of emojis from this list (so they'll be visually consistent).

My thinking at this point is we keep things simple. Everything should follow this pattern:

map([ 1  2  3 ], 4) => [ 5 6 7 ]
Where each n

[2016-10-12 06:58] QuincyLarson commented on #133
I just realized that Filter would require duplicate emoticons. I propose we simplify this to be "Map-Reduce Magnets" with three wide magnets:
`map([             ],      ) =>` and a `[              ]` for the results of map.

`reduce([            ],     ) =>`

We can safely include about 16 emoticons and still be below 1 lbs in shipping weight.

[2016-10-25 17:28] DragonVirus commented on #108
I happen to have a design for this i made for myself but haven't printed yet.
![talkischeaptshirtpreview](https://cloud.githubusercontent.com/assets/1311765/19696859/f4355d32-9b0e-11e6-87b6-f3f8a1c612d5.jpg)

[2016-10-25 23:33] QuincyLarson commented on #108
@DragonVirus my subjective impression is that this design is too literal. I'm skeptical that members of our community would pay for this and wear it. Do you have any other ideas for how you could execute this design?

[2016-11-04 14:53] atjonathan commented on #123
Any update on this @haydmills ?

[2016-11-26 16:41] groovyy commented on #131
I've created some possible designs for these assets (New York City to start). Let me know what you think. I'll be working on assets for the other cities next (London, Delhi, Atlanta, Chicago, Seattle, Bengaluru, San Francisco, Toronto.)

![freecodecamp - newyorkcity 6 versions-05](https://cloud.githubusercontent.com/assets/17690291/20641652/a9fbd06e-b3ca-11e6-882d-949b09d2e31b.png)
![nyc green and

[2016-11-28 03:59] QuincyLarson commented on #131
@groovyy Wow - these look amazing! I am partial to the bottom large image, since it's a simple unshaded white on green is in keeping with our other stickers.

One thing I would point out (and keep in mind that I'm a non-designer) is that some of the fine detail may not come out very well on a 2" sticker (such as the top of the Chrysler building and the little rectangles on the shoreline). You migh

[2016-11-28 05:02] hallaathrad commented on #131
Those look great!! My concern would be how clear they'll come on the actual print size. The lines may be a tad too thin and the elements too detailed. Great illustrations, thought. It would've taken me days to come up with something this sophisticated :)

[2016-12-01 16:33] groovyy commented on #131
Hey all,

Thank you for the feedback, I really appreciate it! I went back and edited the designs (removed the details and made the lines more uniform. Let me know what you guys think of the edits.

@QuincyLarson @hallaathrad
![image](https://cloud.githubusercontent.com/assets/17690291/20801158/e97025da-b7b5-11e6-84b8-6f42af5e1c0e.png)

[2016-12-01 23:21] QuincyLarson commented on #131
@groovyy much better imho.

[2017-01-17 19:08] racketINK commented on #108
I thought about this and simply sketched (first draft).  I googled images, as reference, of angrybird chirping / cheap / yoda (outfit and thought process) / chalk board (from googling "show me") w/ written code (also code of 0's and 1's on the birds face).

Further art direction would help...

![img_20170117_132811](https://cloud.githubusercontent.com/assets/789404/22035102/b198d3e2-dcbc-11e6-9758

[2017-01-17 23:15] QuincyLarson commented on #108
@racketINK thanks for sharing your idea. We hope to have something much simpler with an emphasis on the words themselves, like in the example images I shared.

[2017-02-16 05:23] Annastaciahubbard commented on #130
Has this been done?

[2017-02-16 09:46] atjonathan commented on #130
@Annastaciahubbard, no, not yet! Would you be interested in taking this up?

[2017-02-18 01:01] QuincyLarson commented on #130
@Annastaciahubbard yes - we would welcome your contributions on this :)

[2017-02-23 20:53] ghost opened #139 "Remove "other%20assets" folder and restructure assets (especially YouTube assets)"

[2017-02-24 04:34] QuincyLarson commented on #139
@atjonathan OK - cool. Thanks for doing this.

[2017-02-25 14:29] atjonathan commented on #139
Similar to https://github.com/freeCodeCamp/hikes/issues/499

[2017-08-21 20:29] SUPERETDUPER commented on #130
This landing page seems to have been updated with new graphics. Should this issue be closed?

[2017-08-22 00:46] QuincyLarson commented on #130
@SUPERETDUPER the landing page is still using the same assets we've been using for 2 years.

[2017-08-22 09:39] SUPERETDUPER commented on #130
Sorry miss read the issue.

[2017-08-22 16:53] nsuchy opened #144 "Change description from .com to .org domain"
Should be "A collection of https://www.FreeCodeCamp.org logos and other assets"
This can only be changed by maintainers and not through a pull request.

[2017-09-29 18:23] erictleung commented on #144
@nsuchy @QuincyLarson this issue can be closed. The description has been updated.

[2017-10-03 05:21] #144 closed

[2017-11-15 07:16] raisedadead opened #148 "Style guide alternative logo wrong colour underline."
@Middi commented on [Tue Nov 07 2017](https://github.com/freeCodeCamp/freeCodeCamp/issues/16080)

#### Issue Description
Color of the underline of the fire portion of the logo for the alternative logo in png, jpeg and eps is white and should be green.

#### Screenshot
<img width="492" alt="screen shot 2017-11-07 at 15 16 34" src="https://user-images.githubusercontent.com/15717148/32501066-f28e1ae8

[2018-03-31 00:44] butterfliege commented on #107
@QuincyLarson

Hello :)!
This is my suggestion for the 'Bear Attack Survivor'-Badge.
Any feedback is welcome :).

![bear_attack_survivor](https://user-images.githubusercontent.com/37482829/38158026-52ec416a-348d-11e8-89da-9c20abf70f65.png)

[2018-03-31 23:41] QuincyLarson commented on #107
@butterfliege Wow - this looks pretty cool! I'm curious what this would look like with using the Sax Mono font that we use in our logo: https://design-style-guide.freecodecamp.org/#typography

Would you be interested in making more of these?

[2018-04-01 21:08] butterfliege commented on #107
@QuincyLarson
I am happy you like it!
Here is the badge with the new font:

![bear_attack_survivor_saxmono](https://user-images.githubusercontent.com/37482829/38177408-4716c2f0-3601-11e8-9243-8c6cd9d5329e.png)

And yes, I am interested in making more. :D
But it will probably take some time, if that is okay?

[2018-04-04 00:05] QuincyLarson commented on #107
@butterfliege Much better. This looks great! I'm looking forward to seeing future ones. So is the idea that the stars represent the level of the badge? Like, there might be a level 2 that's "Kraken Attack Survivor" and a Level 3 that's "Cthulu attack survivor" or something like that?

[2018-04-15 15:37] butterfliege commented on #107
@QuincyLarson
Yes, my idea of the star is that:
'Bear Attack Survivor' is one star, because you solved a challenge more than 30 times.
'Velociraptor Attack Survivor' would be two stars, because you solved a challenge more than 60 times.
'Shark Attack Survivor' would be three stars, because you solved a challenge more than 100 times and
'Rabbit of Caerbannog attack Survivor' would be four stars, be

[2018-04-16 22:07] QuincyLarson commented on #107
@butterfliege Yes - that star system makes a lot of sense.

Another alternative system that may make sense would be to do a bronze (or the current freeCodeCamp Green) -> silver -> gold -> purple (or some other exotic color)

This would make it easier to glance at someone's profile and see even at a small size that they have a lot of advanced badges.

[2018-09-06 22:48] migben commented on #117
@QuincyLarson is this still open?

[2018-09-06 22:49] migben commented on #148
is this still open?

[2018-09-06 22:50] migben commented on #139
please confirm if this issue has been closed.

[2018-09-06 22:55] migben commented on #119
is this still open?

[2018-09-06 22:55] migben commented on #116
is this still open

[2019-07-13 04:53] gwenf commented on #131
@QuincyLarson Can we get the templates for these to update and use for our local group?

[2019-09-06 23:54] QuincyLarson commented on #131
@groovyy Do you still have the files you used to create these graphics?

[2019-10-01 07:00] prabhudutta-kar opened #153 "Add "Thank you""
Add a thank you at the end of the Read.me

[2019-10-07 09:31] #107 closed

[2019-10-07 09:31] #108 closed

[2019-10-07 09:31] #109 closed

[2019-10-07 09:31] #110 closed

[2019-10-07 09:31] #112 closed

[2019-10-07 09:31] #113 closed

[2019-10-07 09:31] #114 closed

[2019-10-07 09:31] #115 closed

[2019-10-07 09:31] #116 closed

[2019-10-07 09:31] #117 closed

[2019-10-07 09:31] #118 closed

[2019-10-07 09:31] #119 closed

[2019-10-07 09:31] #123 closed

[2019-10-07 09:31] #126 closed

[2019-10-07 09:31] #130 closed

[2019-10-07 09:31] #131 closed

[2019-10-07 09:31] #133 closed

[2019-10-07 09:31] #139 closed

[2019-10-07 09:31] #148 closed

[2019-10-07 09:31] #153 closed